<!-- <div class="grid-container"> -->
  <!-- <h1 class="mat-h1">Welcome!</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
    *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<div>
  <img src="assets/visa.jpg" class="caro" width="100%" height="600">
</div>
<div>
  <h1>
    Online visa application is now an essential component of a modern, integrated visa management system. It is key to enhancing both security and convenience.

As a result, a new generation of eVisa solutions has emerged, moving the entire visa application and issuance process online through an eVisa portal. Usually part of an eBorder strategy, its benefits include an enhanced traveller experience and significant reductions in administration costs, without compromising border integrity.

By combining experience and strict management of the business rules needed to adapt to diverse processes, it is possible to implement a complex eVisa management system in just three to four months.

  </h1>
</div>